[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
python-dotenv = "*"
requests = "*"
python-dateutil = "*"
pytest-recording = "*"
flask-login = "*"
beautifulsoup4 = "*"

[dev-packages]
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
